body{
    --bg_news:  #F59;
    --bg_mapContact: #DDD;
    --bg_mapContact_cases: grey;

    background-color: var(--bg-main);
}
body>div{
    display: flex;
}
aside{
    position: sticky;
    top: 0px;
    left: 0px;
    height:100vh;
    width: 30px;
    background-color: var(--bg-aside);
}
aside *{
    display: none
}
main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 75vw;
    
    margin: 2rem auto ;
    row-gap: 4rem;
    
    --hauteur_zone: 37.5vw; /* 2 fois moins que la largeur*/
}
aside:hover{
   width: 14vw;
   padding: 1em 2em;
}
aside:hover *{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    font-weight: 800;
}

img, .img{ 
    background-size: cover;  
}
/*----------- PARTIE CAROUSSEL -----------*/
.content {
    overflow: hidden;
    width: 100%;
    height: var(--hauteur_zone);
    margin: auto;
}
.gallery-item {
    float: left;
    height: 100%;
    width: 100%;
    padding-bottom: 30%;
    /* display: inline-block; */
    position: relative;
    overflow: hidden;
}
.slider-container {
    overflow: hidden;
}
.slide-holder {
    width: 400%;
    position: relative;
    animation: scroller 20s infinite; /*a la base 2s*/
    animation-direction: alternate;
    animation-delay: 5s;                   /* a la base 2s*/
    animation-timing-function: ease-in-out;
}
.slide-holder img {
    width: 25%;
    display: inline-block;
    max-width: 25%;
    margin-right: -4px;
}
@keyframes scroller {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-25%);
    }
    40% {
        transform: translateX(-25%);
    }
    60% {
        transform: translateX(-50%);
    }
    70% {
        transform: translateX(-50%);
    }
    90% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(-75%);
    }
}
/*----------- PARTIE ACTUS -----------*/
main>section{
    background-color: var(--bg_news);
    padding: 1em;
}
main>section>ul{
    display: flex;
    min-height: var(--hauteur_zone);
    width: 100%;
    gap: 2rem;
}
main>section>ul>li{
    position: relative;
    width: 20em;
    border: solid black;
}
main>section .img-top{
    position: relative;
    height: 250px;
    width: 100%;
}
main>section .img-top::before{
    position: absolute;
    bottom: 10px;
    left: 10px;

    padding:5px 1rem;
    border-radius: 10px;

    text-align: center;
    font-size: clamp(8px, 1.5vw, 18px);                     /*se renseigner sur clamp*/
}
main>section .event .img-top::before{
    content: "Évenement/Annonce";
    background-color: rgba(85, 107, 246, 0.9);
}

main>section .formation .img-top::before{
    content:"Formation";
    background-color: rgba(178, 55, 65, 0.9);
}

main>section div{
    display: flex;
    flex-direction: column;
}
main>section div>article{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: calc(100%-2em);                          /* c'est dégeulasse*/
    margin: 1em 1em 5em;
    row-gap: 0.25em;
}
main>section div>span{
    position: absolute;
    bottom: 10px;
    right: 10px;

    font-size: 5em;
    font-weight: 700;
}
/*--------------Zone des images des articles---------------*/
#article1>a>div>div{
    background-image: url(../Images/Articles/megaphone.gif);
}
#article2>a>div>div{
    background-image: url(../Images/Articles/v_20211112-affiche-metier-version-finale-carre_1636536798853.jpg);
}
#article3>a>div>div{
    background-image: url(../Images/Articles/v_affiche-ce-2022_1636358611844.png);
}
#article4>a>div>div{
    background-image: url(../Images/Articles/v_etoitufaisquoiapreslebac_1510822562896.png);
}

/*----------- PARTIE CONTACT/CARTE -----------*/
main>section:last-child{
    display: grid;
    grid-template-columns: 3fr 10fr 3fr;
    grid-template-rows: 2fr 10fr 2fr;
    gap: 2em;

    height: var(--hauteur_zone);
    width: 96%;
    padding: 2%;
    background-color: var(--bg_mapContact);
}
main>section:last-child>div{
    background-color: var(--bg_mapContact_cases);
}
main>section:last-child>div:first-child{ /*Contact*/
    grid-column: 1/2;
    grid-row: 1/4;
}
main>section:last-child>div:nth-child(2){ /**Titre*/
    align-items: center;
    justify-content: center;
}
main>section:last-child>div:last-child{ /* logos*/
    grid-column: 3/4;
    grid-row:1/4;

    display: flex;
    flex-direction: column;

    align-items: center;
    row-gap: 1em;
}
main>section:last-child>div:last-child>img{
    height: auto;
    max-height: 14%;
    max-width: 80%;
}
main>section:last-child>div>iframe{
    height: 100%;
    width: 100%;
}


/*------------------------------MEDIA QUERY----------------------------------------------*/
@media screen and (max-width:1300px) {
    main>section>ul{
        flex-direction: column;
    }
    main>section>ul>li{
        width: 75%;
        margin:auto;
    }
    main>section:last-child>div:first-child>h1{
        font-size: 1.2em;
        font-weight: 700;
    }
    #branly{
        display: none;
    }
}
@media screen and (max-width:575px) {
    main>section:last-child{
        display: none;
    }
}