body>div{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #f0f0f0;
}

aside{
    position: sticky;
    top: 0px;
    left: 0px;
    height: 100vh;
    padding: 100px 1%;
    background-color: var(--bg-aside);
}

#leboss{         /*div qui sert de photo*/
    justify-content: center;
    align-items: center;
    
    width: 9vw;
    height: 9vw;
    margin: auto;
    border-radius: 100%;     /*permet de rogner les coins de la photo mise en background*/
    
    border: solid black 1px;
    background-image: url('../Images/Presentation/directeur_iut.jfif'); /*J'ai fait un background image pour si je veux plus tard mettre qqch par dessus*/
    background-size: cover; /*fait en sorte que le background fait la taille du div et ne dépasse pas, l'image ce compresse donc pour ne pas dépasser*/
}



main{
    width: 80%;
    margin: 5rem auto;
}
main>article>div{
    background-image: url('../Images/Presentation/parcours.png');
    height: 310px;
    width: 550px;
    background-size: cover;
    margin: 3em 1em;
}

article li{
    margin-left: 2em;
    list-style: inside;
}

article>h2,article>h3,article>h4{
    color:red;
    margin:1.5em 0 0.25em 0;
}

@media screen and (max-width:1000px) {  /*remove aside*/
    aside *{
        display: none;
    }
    body>div{
        grid-template-columns: 0fr 6fr;
    }
}