body>div{
    display: grid;
    grid-template-columns: 1fr 5fr;
}


/*---------------------------Marge---------------------------*/

aside{
    position: sticky;
    top: 0px;
    left: 0px;
    height: 100vh;
    /*height: fit-content;*/
    padding: 1em;
    background-color: var(--bg-aside);
}


aside>div:first-child>ul>li li{
    margin-left: 2em; /*nous permet de faire l'indentation du sommaire*/
}
aside>div:first-child h1{
    margin: 0.5em;
}


/*---------------------------MAIN---------------------------*/

main{
    position: relative;
    background-color: var(--bg-main);
    padding: calc(var(--height)/5) 2%;
    min-height: calc(100vh - var(--height));
    padding: 2em 7%;
}
main>div{
    margin-bottom: 200px;
}

/*-----------FAQ-----------*/

details *{
    font-size: 1em;
}

details h3{
    margin-top:2em;
    font-weight: normal;
}

summary{
    position: relative;
    user-select : none;
    background-color: var(--bg-button);
    color: #000;
    padding: 0em 3em;
    border-radius: 5px;
    font-size: 1em;
}
summary h2{
    font-size: 1.2em;
    font-weight: normal;
}

summary::before{
    position: absolute;
    top:1px;
    left:5px;
    content: '  ►';
}
summary::after{
    position: absolute;
    top:1px;
    right:5px;
    content: '  ◄';
}
details[open]>summary:before {
    position: absolute;
    top:1px;
    left:5px;
    content: " ▼";
}
details[open]>summary:after {
    position: absolute;
    top:1px;
    right: 5px;;
    content: "▼ ";
}

details:nth-child(n+2),section:nth-child(n+2)>details{
    margin: 2em 0em;
}
details>*:nth-child(2){
    margin: 0.5em 0em;
    margin-left: 1em;
}
details>section>details{ /*pour quand il y a des questions dans des questions*/
    margin-left:2em;
}

details[open]>summary{
    background-color: #808080;
}

details#Prereki>article>div{
    display: grid;
    grid-template-columns: 5fr 3fr;
}
details#Prereki ul{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    margin: 1em;
}

/*-----------FORMULAIRE-----------*/

form{
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: grid;
    grid-template-rows: 2em 6em 2em ;
    row-gap: 0.5em;
    column-gap: 5em;
}

label,#mail,form>section{
    grid-row: 1/2;
}
form>section{
    grid-column: 1/2;
}
select{
    grid-column: 2/3;
}
textarea{
    grid-row: 2/3;
    grid-column: 1/3;
}

button{
    grid-row: 3/4;
    grid-column: 2/3;
}
button,select{
    margin-right: 2em;
}



/*------------------------------------------------------MEDIA QUERY------------------------------------------------------*/
@media screen and (max-width:1600px) {
    aside>div:first-child h2+ul *{
        display: none;
    }
}

@media screen and (max-width:1150px) {
    aside>div:first-child p{
        display: none;
    }
}

@media screen and (max-width:750px) { /*ça marche mais avec le f12 ça marche pas*/
    details *{
        font-size: 0.8em;
    }
    form{
        column-gap: 0.6em;
    }
    button,select{
        margin-right: 0.4em;
    }
}
@media screen and (max-width:625px) { /*ça marche mais avec le f12 ça marche pas*/
    details *{
        font-size: 0.5em;
    }
    form{
        column-gap: 0.01em;
    }
    button,select{
        margin-right: 0.01em;
    }
}

@media screen and (max-width:700px) {
    form{
        right: 10px;
    }
}