*{
    margin:0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    color: #000;
}

header{
    display:flex;
    flex-direction: column;
    height:var(--height_header);
}


header>img{
    align-self: flex-start;
    justify-content: stretch;
    height: 13vh;
}

header>nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: rgb(58,65,71);

}
header nav a{
    display: flex;
    justify-content: center;
    width: 33%;
    border: solid orangered;

}






/*_____________________________________________________________________________________________*/

footer{
    position: sticky;
    width: 100vw;
    height: 30px;
    background-color: darkslategrey;
    
    display: flex;
    
}

footer p{
    justify-self: stretch;
    text-align: center;
    color: snow;
    display: inline-block;
    flex: 1 1 auto;


}
footer p a{
    color: snow;
}
