header{
    height: var(--height);
}

body>section{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

aside{
    padding: 1%;
}

.sommaire li>ul>li{
    margin-left: 2em; /*nous permet de faire l'indentation du sommaire*/
}

/*--------------- FAQ --------------------*/
main{
    background-color: #555;
    padding: calc(var(--height)/5) 2%;
    min-height: calc(100vh - var(--height));
    padding: 0% 7%;
}
main>div{
    background-color: green;
}

summary{
    background-color: #ccc;
    padding: 0em 0.5em;
}
details{
    margin: 2em 0em;
}
details>*:nth-child(2){
    margin: 0.5em 0em;
    margin-left: 1em;
}
details>section>details{ /*pour quand il y a des questions dans des questions*/
    margin-left:2em;
}