*{
    margin:0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    color: #000;
}

html{
    --bg-header: #e77c9c;
    --bg-footer: #314f4f;

    --bg-main: #FFF;
    --bg-aside: #f8d595;
    --bg-button: #ccc;
}

header{
    background-color: var(--bg-header);
    height:var(--height);
}

header>div{
    display: flex;
    height: 13vh;
    justify-content: center;
}

header>nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: var(--bg-button);

}
header nav a{
    display: flex;
    justify-content: center;
    width: 33%;
    border: solid orangered;

}






/*_____________________________________________________________________________________________*/

footer{
    position: sticky;   
    height: 30px;
    background-color: var(--bg-footer);
    
    display: flex;
    
}

footer p, footer a{
    justify-self: stretch;
    text-align: center;
    color: snow;
    display: inline-block;
    flex: 1 1 auto;


}
