*{
    margin:0;
    padding: 0;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;

    background-color: green;
}

aside{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30px;

    background-color: orange;
}
main{
    display: flex;
    flex-direction: column;
    width: 75vw;
    min-height: 100vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 4rem;
}


/*----------- PARTIE ACTUS -----------*/
main>span{
    background-color: #F59;
    padding: 1em;
}
main>span>ul{
    display: flex;
    column-gap: 2rem;
    height: 550px;
    width: 100%;
}
main>span>ul>li{
    width: 20em;
    border: solid black;
}
main>span .img-top{
    height: 40%;
    width: 100%;
    position: relative;
}
main>span .img-top::before{
    position: absolute;
    text-align: center;
    font-size: 1em;
    bottom: 10px;
    left: 10px;
    border-radius: 5px;
    padding:5px 1rem;

}
main>span .event .img-top::before{
    content: "Évenement/Annonce";
    background-color: blue;
}

main>span .formation .img-top::before{
    content:"Formation";
    background-color: brown;
}

main>span article{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 60%;
    width: calc(100%-2em);                  /* c'est dégeulasse*/
    row-gap: 0.25em;
    margin: 1em;
}

#article1>div{
    background-image: url(../Images/choucroute.jpg);
    background-size: cover;
}

#article2>div{
    background-image: url(../Images/choucroute.jpg);
    background-size: cover;
}

#article3>div{
    background-image: url(../Images/chaise.png);
    background-size: cover;
}

button.plus::before{
    position: absolute;
    text-align: center;
    font-size: 1em;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    padding:5px 1rem;

    content: '+';
    font-size:5em;
    visibility: visible;
    
}
button.plus{
    visibility: hidden;
}
/*----------- PARTIE CONTACT/CARTE -----------*/
main>section{
    display: grid;
    height: 550px;
    width: 100%;
    background-color: blue;
    grid-template-columns: 3fr 10fr 3fr;
    grid-template-rows: 2fr 10fr 2fr;
    gap: 2em;

}

main>section>div{
    background-color: grey;
}
main>section>div:first-child{
    grid-column: 1/2;
    grid-row: 1/4;
}

main>section>div:last-child{
    grid-column: 3/4;
    grid-row:1/4
}

main>section>div>iframe{
    height: 100%;
    width: 100%;
}

